/* HOME */

/* generales */

.buttonShadow:hover {
  box-shadow: 0 5px 10px black;
}
.layout {
  padding-top: 4rem;
  height: 100%;
}
/* navbar */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #d9e6ff;
  box-shadow: 0 2px 10px black;
  z-index: 4;
  overflow: hidden;
}

.navPlan {
  background-color: #276ced;
}
.NavbarLogo {
  display: flex;
  align-items: end;
}
.NavbarLogo img {
  height: 10rem;
  width: auto;
  object-fit: contain;
}
.NavbarMenu {
  margin-left: auto;
  padding-right: 2rem;

  display: flex;
  gap: 2rem;
}
.NavbarMenu a,
.NavbarMenu Link {
  all: unset;
  cursor: pointer;
  font-weight: 500;
}

.Navbar a:hover,
Link:hover {
  color: rgb(22, 164, 200);
  font-weight: bold;
}

/* carrusel Presentacion  */
.contenedorHome {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9e6ff;
  overflow: hidden;
}
.carruselServicios {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  margin: 1.5rem 0;
  overflow: hidden;
  justify-content: center;
  align-items: end;
}
.carruselServicios img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.PresentacionItem {
  background-color: #d9e6ff8b;
  width: max-content;
  z-index: 2;
  height: 30%;
  margin-bottom: 2rem;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 2px 10px white;
  align-items: center;
  overflow: hidden;
  display: flex;
  padding: 1rem;
  position: relative;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.textoPresentacion {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  justify-content: end;
  align-self: end;
  color: rgb(237, 237, 245);
}
.textoPresentacion h2 {
  font-size: xx-large;
}
.textoPresentacion p {
  width: 100%;
  font-size: medium;
}

.carruselServicios::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* nuestrosServicios */
.contenedorNuestrosServicios {
  text-align: center;
  margin-top: 2rem;
}
.contenedorNuestrosServicios h2 {
  font-size: 2rem;
}
.nuestrosServicios {
  display: flex;
  margin-top: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.Cardserv {
  /* background-color: chartreuse; */
  padding: 0.5rem;
  width: 25%;
  height: auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #92b1eea4;
  border-radius: 2rem;
  box-shadow: 0 5px 10px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.Cardserv img {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  object-fit: cover;
  border-radius: 2rem;
  display: flex;
}
.cardServTexto {
  width: 80%;
  height: 30vh;
  margin-top: 1rem;
}
.cardServTexto p {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.Cardserv button {
  all: unset;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 241, 0.69);
  color: white;
  margin: 1rem;
}

.Cardserv:hover {
  box-shadow: 2px 5px 20px black;
}

/* proceso */

.contenedorProceso {
  /* border-top: solid black; */
  background-color: #abc4f4;
  border-radius: 2rem;
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 6rem;
}
.contenedorProceso button {
  all: unset;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  color: white;
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(100, 156, 246);
}
.proceso {
  display: flex;
  height: 90%;
  width: 85%;
}
.proceso img {
  height: 100%;
  width: 90%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0 5px 10px black;
}

.ProcesoText {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.ProcesoText ul {
  list-style: none;
}
.itemProceso {
  padding: 2rem;
  margin-top: 2rem;
}

/* opiniiones */

.opiniones {
  margin-top: 4rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opinionItem {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background: linear-gradient(10deg, #276ced, #abc4f4);
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
  color: white;
  box-shadow: 0 2px 10px black;
}
.textoOpinion {
  width: 80%;
  font-size: 1.3rem;
}
.textoOpinion span {
  background-color: #9fbaf0a4;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  margin: 2rem;
}

/* footer  */
.contenedorFooter {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  /* background-color: #d9e6ff; */
  border-top: solid 2px black;
}

.formFooter {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.3rem;
  border-radius: 2rem;
  background-color: #9ea6b5;
  margin: 0.4rem;
}
.formFooter input {
  all: unset;
  background-color: white;
  border-radius: 2rem;
  margin: 0.5rem;
  text-align: center;
  padding: 0.3rem;
}

.formFooter button {
  all: unset;
  border-radius: 2rem;
  background-color: #636a75;
  padding: 0.5rem;
  color: white;
}

.footerContacto {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.footer a,
Link {
  all: unset;
  font-style: none;
  list-style: none;
  cursor: pointer;
}
.footer a:hover,
Link:hover {
  color: rgb(22, 164, 200);
  font-weight: bold;
}

@media (max-width: 1024px) and (min-width: 601px) {
  .nuestrosServicios {
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
    align-items: start;
  }
  .Cardserv {
    width: 45%;
    height: max-content;
    margin-bottom: 1rem;
  }
  .CardServiceImagen {
    height: 80%;
    width: 100%;
  }
  .cardServTexto {
    height: max-content;
  }

  .contenedorProceso {
    overflow: hidden;
    height: max-content;
  }

  .proceso {
    width: 80%;
    font-size: medium;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .procesoImagen {
    object-fit: cover;
    border-radius: 2rem;
    margin: 0;
    padding: 0;
  }

  .ProcesoText {
    flex: 2;
    width: 100%;
  }

  @media (max-width: 600px) and (min-width: 1px) {
    .nuestrosServicios {
      flex-wrap: nowrap;
    }
  }
}
/*////////////////////////////////////*/
/* LOGIN */
/*////////////////////////////*/
.contenedorForm {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, #d9e6ff, #abc4f4);
}
.contenedorLogin {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #abc4f4;
  border-radius: 2rem;
  box-shadow: 0 2px 10px black;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.verPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2rem;
}
input:focus {
  outline: none;
  box-shadow: none;
}
.verPassword span {
  margin-right: 1rem;
}

.contenedorLogin input {
  border-radius: 2rem;
  border: none;
  padding: 0.8rem;
}
.contenedorLogin button {
  all: unset;
  padding: 1rem;
  background-color: #d9e6ff;
  border-radius: 2rem;
}
.contenedorLogin button:hover {
  box-shadow: 0 2px 10px black;
}
.contenedorLogin button:active {
  box-shadow: 0 8px 10px black;
  transform: scale(0.9);
}
.contenedorRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  background-color: #abc4f4;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 2px 10px black;
  text-align: center;
}
.contenedorRegistro input {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contenedorRegistro button {
  all: unset;
  padding: 1rem;
  background-color: #d9e6ff;
  border-radius: 2rem;
}
.contenedorRegistro button:hover {
  box-shadow: 0 2px 10px black;
}
.contenedorRegistro button:active {
  box-shadow: 0 8px 10px black;
  transform: scale(0.9);
}
.botonesRegistro {
  display: flex;
  gap: 1rem;
}

/*//////////////////////////*/
/* planes */
/*//////////////////////////*/

.contenedorPlanes {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #d9e6ff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardPlanes {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: #abc4f4;
  /* overflow: hidden; */
  justify-content: center;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 10px black;
  margin-bottom: 5rem;
}

.cardFrente,
.cardTrasera {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vh;
  transition: 1s;
  padding: 2rem;
  /* overflow: hidden; */
}

.cardFrente button {
  all: unset;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #859ecb;
  margin-top: 1rem;
}
.cardFrente img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 2rem;
}
.cardTrasera {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}
.cardTrasera ul li {
  list-style: circle;
  margin: 2rem;
  text-align: start;
}

.cardTrasera h1 {
  background-color: #d9e6ff;
  padding: 1.5rem;
  justify-content: center;
  border-radius: 2rem;
}
.cardTrasera button {
  all: unset;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #859ecb;
}

.planesGrid {
  display: flex;
}
